# SPDX-FileCopyrightText: none
#
# SPDX-License-Identifier: CC0-1.0

build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.o
