name: BuildAll

on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:

jobs:
  build_linux_rpi:
    name: Build for Raspberry Pi on RaspiOs
    uses: ./.github/workflows/build_linux_rpi.yml
    with:
      target: raspios_lite:latest
      artifact_archive: artifacts-build_rpi

  build_linux_rpi64:
    name: Build for arm64 Raspberry Pi on RaspiOs
    uses: ./.github/workflows/build_linux_rpi.yml
    with:
      target: raspios_lite_arm64:latest
      artifact_archive: artifacts-build_rpi64

  build_linux:
    name: Build for Linux (default)
    uses: ./.github/workflows/build_linux.yml
    with:
      artifact_archive: artifacts-build_linux

  build_cygwin_x86_64:
    name: Build for Windows with Cygwin (x86_64)
    uses: ./.github/workflows/build_windows_cygwin.yml
    with:
      platform: x86_64
      artifact_archive: artifacts-build_cygwin_x86_64
  upload:
    needs: [build_linux_rpi, build_linux, build_linux_rpi64, build_cygwin_x86_64]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Hack around https://github.com/actions/checkout/issues/290
        run: |
          git fetch --tags --force

      - name: Get Linux RPi build
        uses: actions/download-artifact@v3
        with:
          name: artifacts-build_rpi
          path: artifacts

      - name: Get Linux RPi arm64 build
        uses: actions/download-artifact@v3
        with:
          name: artifacts-build_rpi64
          path: artifacts

      - name: Get Linux build
        uses: actions/download-artifact@v3
        with:
          name: artifacts-build_linux
          path: artifacts

      - name: Get Cygwin (x86_64) build
        uses: actions/download-artifact@v3
        with:
          name: artifacts-build_cygwin_x86_64
          path: artifacts

      - name: Sum files
        run: |
          for FILE in artifacts/* ; do md5sum ${FILE} > ${FILE}.md5sum ; sha256sum ${FILE} > ${FILE}.sha256sum ; done
          ls -laF artifacts/

      - name: Release
        if: ${{startsWith(github.ref, 'refs/tags/')}}
        uses: ncipollo/release-action@58ae73b360456532aafd58ee170c045abbeaee37
        with:
          artifacts: "artifacts/*"
          allowUpdates: true
          generateReleaseNotes: true
          omitDraftDuringUpdate: true
